@import '../font-awesome/css/font-awesome.min.css';

:root {
  --token-simulation-green-base-44: #10D070;
  --token-simulation-grey-base-40: #666666;
  --token-simulation-grey-darken-30: #212121;
  --token-simulation-grey-lighten-56: #909090;
  --token-simulation-red-base-62: #FF3D3D;
  --token-simulation-silver-base-97: #F8F8F8;
  --token-simulation-silver-darken-94: #EFEFEF;

  --token-simulation-white: #FFFFFF;
}

.bjs-container {
  border: solid 4px transparent;
  box-sizing: border-box;
}

.bjs-container.simulation {
  border-color: var(--token-simulation-green-base-44, #10D070);
}

.bjs-container.simulation.paused {
  border-color: var(--token-simulation-grey-base-40, #666666);
}

.bjs-container.simulation.warning {
  border-color: var(--token-simulation-red-base-62, #FF3D3D) !important;
}

.context-pad {
  cursor: pointer;
  background-color: var(--token-simulation-grey-lighten-56, #909090);
  border-radius: 2px;
  margin: 0;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.context-pad:not(.disabled):hover {
  width: 40px;
  background-color: var(--token-simulation-green-base-44, #10D070);
  opacity: 1;
  color: var(--token-simulation-white, #FFFFFF);
}

.context-pad.disabled {
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  color: var(--token-simulation-grey-base-40, #666666);
  pointer-events: none;
}

.context-pad.hidden {
  display: none;
}

.context-pad [class^="bpmn-icon-"]:before, [class*=" bpmn-icon-"]:before {
  margin: 0;
}

.token .text {
  font-family: 'Arial', sans-serif;
}

.token-count-parent {
  white-space: nowrap;
}

.token-count {
  background-color: #FAFAFA;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
  animation: jump 1s infinite;
  animation-timing-function: ease;
  position: relative;
  top: 0;
  display: inline-block;
}

.token-count.inactive {
  display: none;
}

.token-count + .token-count {
  margin-left: -8px;
}

.token-count.waiting {
  color: var(--token-simulation-white, #FFFFFF);
  font-family: 'Arial', sans-serif;
  background-color: var(--token-simulation-green-base-44, #10D070);
}

@keyframes jump {
  50% { top: 5px; }
}

.notifications {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.notifications .notification {
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  padding: 5px 8px;
  font-size: 16px;
  color: var(--token-simulation-silver-darken-94, #EFEFEF);
  user-select: none;
  margin-top: 4px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.notifications .notification.info {
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  color: #000;
}

.notifications .notification.success {
  background-color: var(--token-simulation-green-base-44, #10D070);
  color: var(--token-simulation-white, #FFFFFF);
}

.notifications .notification.warning {
  background-color: var(--token-simulation-red-base-62, #FF3D3D);
  color: var(--token-simulation-white, #FFFFFF);
}

.notifications .notification > * {
  flex: initial;
}

.notifications .notification > :not(:last-child) {
  margin-right: 6px;
}

.notifications .notification > .icon {
  min-width: 20px;
  text-align: center;
}

.notifications .notification > .text {
  flex: 1;
}

.notifications .notification > .scope {
  font-family: monospace;
  font-size: .8em;
  padding: 2px 3px;
  border-radius: 3px;
  cursor: default;
}

.notifications .notification > .icon [class^="bpmn-icon-"]:before, [class*=" bpmn-icon-"]:before {
  margin: 0;
}

.bjs-container.paused .play-pause.active {
  color: var(--token-simulation-silver-darken-94, #EFEFEF);
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
}

.element-notification {
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px 0 6px;
  user-select: none;
}

.element-notification .fa,
.element-notification .text {
  margin: 0 3px 0 3px;
}

.element-notification .text {
  white-space: nowrap;
}

.element-notification.success {
  background-color: var(--token-simulation-green-base-44, #10D070);
  color: var(--token-simulation-white, #FFFFFF);
}

.element-notification.warning {
  background-color: var(--token-simulation-red-base-62, #FF3D3D);
  color: var(--token-simulation-white, #FFFFFF);
}

.toggle-mode {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  padding: 6px;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
}

.bjs-container.simulation .toggle-mode,
.toggle-mode:hover {
  background-color: var(--token-simulation-green-base-44, #10D070);
  color: var(--token-simulation-white, #FFFFFF);
}

.bjs-container .djs-palette {
  top: 60px;
}

.bjs-container.simulation .djs-palette {
  display: none;
}

.bjs-container.simulation .djs-outline,
.bjs-container.simulation .djs-bendpoint,
.bjs-container.simulation .djs-segment-dragger,
.bjs-container.simulation .djs-resizer {
  display: none !important;
}

.token-simulation-palette {
  position: absolute;
  top: 60px;
  left: 20px;
}

.token-simulation-palette.hidden {
  display: none;
}

.token-simulation-palette .entry {
  cursor: pointer;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  padding: 6px 0;
  margin-bottom: 6px;
  font-size: 16px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

.token-simulation-palette .entry:last-child {
  margin-bottom: 0;
}

.token-simulation-palette .entry:not(.disabled):hover {
  width: 40px;
  color: var(--token-simulation-white, #FFFFFF);
  background-color: var(--token-simulation-green-base-44, #10D070);
}

.token-simulation-palette .entry.active {
  color: var(--token-simulation-white, #FFFFFF);
  background-color: var(--token-simulation-green-base-44, #10D070);
}

.token-simulation-palette .entry.disabled {
  pointer-events: none;
  color: var(--token-simulation-grey-base-40, #666666);
}

.token-simulation-log {
  position: absolute;
  top: 128px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  z-index: 10000;
  overflow: hidden;
}

.token-simulation-log.hidden {
  display: none;
}

.token-simulation-log .header {
  background-color: var(--token-simulation-green-base-44, #10D070);
  padding: 6px 8px;
  color: var(--token-simulation-white, #FFFFFF);
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
}

.token-simulation-log .header .close {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--token-simulation-white, #FFFFFF);
}

.token-simulation-log .header .fa-align-left {
  cursor: pointer;
}

.token-simulation-log .content {
  position: absolute;
  overflow-y: auto;
  box-sizing: border-box;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.token-simulation-log .entry {
  font-size: 16px;
  margin: 0 0 6px 0;
  padding: 6px;
  background: var(--token-simulation-white, #FFFFFF);
  border-radius: 2px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.token-simulation-log .entry.inactive {
  opacity: .5;
}

.token-simulation-log .entry.success {
  background-color: var(--token-simulation-green-base-44, #10D070);
  color: var(--token-simulation-white, #FFFFFF);
}

.token-simulation-log .entry.success .date,
.token-simulation-log .entry.warning .date {
 color: var(--token-simulation-silver-darken-94, #EFEFEF);
}

.token-simulation-log .entry.warning {
  background-color: var(--token-simulation-red-base-62, #FF3D3D);
  color: var(--token-simulation-white, #FFFFFF);
}

.token-simulation-log .entry:last-child {
  margin: 0;
}

.token-simulation-log .entry > * {
  flex: initial;
}

.token-simulation-log .entry > :not(:last-child) {
  margin-right: 6px;
}

.token-simulation-log .entry > .date {
  min-width: 120px;
  color: var(--token-simulation-grey-base-40, #666666);
}

.token-simulation-log .entry > .icon {
  min-width: 20px;
  text-align: center;
}

.token-simulation-log .entry > .scope {
  font-family: monospace;
  font-size: .8em;
  padding: 2px 3px;
  border-radius: 3px;
  cursor: default;
}

.token-simulation-log .entry > .text {
  flex: 1;
}

.token-simulation-log .entry.placeholder.hidden {
  display: none;
}

.token-simulation-scopes {
  position: absolute;
  top: 22px;
  left: 190px;
  display: flex;
  flex-direction: row;
}

.token-simulation-scopes.hidden {
  display: none;
}

.token-simulation-scopes .scope {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  margin-right: 10px;
  cursor: pointer;
}

.token-simulation-scopes .scope.inactive:hover {
  opacity: 1
}

.token-simulation-scopes .scope.inactive {
  opacity: .25;
}

.djs-container.highlight {
  background-color: var(--token-simulation-silver-base-97, #F8F8F8);
}

.set-animation-speed {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 16px;
  text-align: center;
  background-color: var(--token-simulation-silver-darken-94, #EFEFEF);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
  overflow: hidden;
}

.set-animation-speed .fa-tachometer {
  margin-bottom: 2px;
}

.set-animation-speed.hidden {
  display: none;
}

.set-animation-speed .animation-speed-buttons {
  display: flex;
  flex-direction: row;
}

.set-animation-speed .animation-speed-buttons {
  margin-left: 6px;
}

.set-animation-speed .animation-speed-buttons .animation-speed-button {
  padding: 6px;
  width: 30px;
}

.set-animation-speed .animation-speed-buttons .animation-speed-button.active,
.set-animation-speed .animation-speed-buttons .animation-speed-button:hover {
  background-color: var(--token-simulation-green-base-44, #10D070);
  color: var(--token-simulation-white, #FFFFFF);
}