name: CI
on: [ push, pull_request ]
jobs:
  Build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [ 20 ]
        integration-deps:
        - "" # as defined in package.json

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Install dependencies for integration test
      if: ${{ matrix.integration-deps != '' }}
      run: npm install ${{ matrix.integration-deps }}
    - name: Build
      if: ${{ matrix.integration-deps != '' }}
      run: npm run all
    - name: Build with coverage
      if: ${{ matrix.integration-deps == '' }}
      env:
        COVERAGE: 1
      run: npm run all
    - name: Upload coverage
      uses: codecov/codecov-action@v2
      if: ${{ matrix.integration-deps == '' }}
    - name: Update example
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      env:
        GIT_USER_NAME: ${{secrets.BPMN_IO_USER_NAME}}
        GIT_USER_EMAIL: ${{secrets.BPMN_IO_EMAIL}}
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      run: tasks/update-example